*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    display: flex;
    background-color: rgb(12, 12, 36);
    color: ghostwhite;
    justify-content: space-around;
    height: 5rem;
    position: sticky;
    width: 100%;
}
.left{
    display: flex;
    margin-top: 2rem;
    margin-left: -1rem;
    gap: 3rem;
}
.left>span>{
    font-size: 20px;
    font-weight: bold;
}
.left>form>input{
    height: 2rem;
    border-radius: 10px;
    padding-left: 1rem;
    outline: none;
    font-size: 20px;
    color: black;
}
.left>form>button{
    height: 2rem;
    color: black;
    padding: auto;
    width: 5rem;
    border-radius: 3rem;
}

.right{
    display: flex;
}
ul{
    display: flex;
    margin-top: 2rem;
    list-style: none;
    gap: 1rem;
    font-size: 20px;
}
li,a{
    text-decoration: none;
    cursor: pointer;
    color: ghostwhite;
    
}
a:hover{
    color: brown;
}
.container{
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: gainsboro;
    height: 100%;
    width: 100%;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
}
img{
    height: 22rem;
    width: 16rem;
    object-fit: contain;
}
.cont1{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 26rem;
    object-fit: cover;
    margin: 1rem;
    color: black;
    cursor: pointer;
    transition: 2s ease-in-out;
    border-radius: 5px;
}
.cont1>h2,p{
    background-color: aliceblue;
    text-align: center;
    padding-top: 2px;
    color: green;
    
}
.cont1:hover{
    transition: 3s ease-out;
}
footer{
    display: flex;
    justify-content: center;
    height: 6rem;
    padding-top: 2rem;
    text-align: center;
    background-color: rgb(5, 5, 39);
    color: ghostwhite;
}
@media screen and (max-width: 890px) {
    .right{
        display: none;
    }
    .left>form{
        display: none;
    }
}